version: '3.8'

volumes:
  postgres-data:

services:
  app:
    image: ghcr.io/mitoma/sandbox-dev:latest@sha256:644c43c1a48e6255df64d4f53c08dc5bd1971177664dddbff81bce785e0d3057
    volumes:
      - ..:/workspace:cached
      - ~/.cargo/registry:/home/mitoma/.cargo/registry:cached
      - ~/.cargo/git:/home/mitoma/.cargo/git:cached
      - ~/.npm:/home/mitoma/.npm:cached
      - ~/.config/gcloud:/home/mitoma/.config/gcloud:cached
      - ~/.docker:/home/mitoma/.docker:cached
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
