version: '3.8'

volumes:
  postgres-data:

services:
  app:
    image: ghcr.io/mitoma/sandbox-dev:latest@sha256:65c2557ef3b1354617db3ee26b5696138b9e5a6e86dc3ca1bf85344627c2e92c
    volumes:
      - ..:/workspace:cached
      - ~/.cargo/registry:/home/mitoma/.cargo/registry:cached
      - ~/.cargo/git:/home/mitoma/.cargo/git:cached
      - ~/.npm:/home/mitoma/.npm:cached
      - ~/.config/gcloud:/home/mitoma/.config/gcloud:cached
      - ~/.docker:/home/mitoma/.docker:cached
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
